
<div class="col-md-4 text-center col-sm-6 col-xs-6">
                        <div class="thumbnail product-box">
                            <img src="camp.jpg" alt="hinh anh cua dien thoai" >
                            <div class="caption">
                                <h3><div class="item-name">Samsung Galaxy </div></h3>
                                <div class="item-price">Price : <strong>$ 19</strong>  </div>
                                <div class="item-quantity">Ptional dismiss button in tional dismiss button in   </div>
                                <form action="/pay" method ="POST">
                                <button class="btn btn-primary" type="submit">Buy</button>
                                </form>
                                
                            </div>
                        </div>
</div>

<div class="col-md-4 text-center col-sm-6 col-xs-6">
                        <div class="thumbnail product-box">
                            <img src="shoe.png" alt="hinh anh cua dien thoai" >
                            <div class="caption">
                                <h3><div class="item-name">Samsung Galaxy </div></h3>
                                <div class="item-price">Price : <strong>$ 19</strong>  </div>
                                <div class="item-quantity">Ptional dismiss button in tional dismiss button in   </div>
                                <form action="/pay" method ="POST">
                                <button class="btn btn-primary" type="submit">Buy</button>
                                </form>
                                
                            </div>
                        </div>
</div>

<div class="col-md-4 text-center col-sm-6 col-xs-6">
                        <div class="thumbnail product-box">
                            <img src="camp.jpg" alt="hinh anh cua dien thoai" >
                            <div class="caption">
                                <h3><div class="item-name">Samsung Galaxy </div></h3>
                                <div class="item-price">Price : <strong>$ 19</strong>  </div>
                                <div class="item-quantity">Ptional dismiss button in tional dismiss button in   </div>
                                <form action="/pay" method ="POST">
                                <button class="btn btn-primary" type="submit">Buy</button>
                                </form>
                                
                            </div>
                        </div>
</div>

